{% extends "base.html" %}

{% block content %}

<!-- parent class -->
<!-- {{ block.super }} -->

<h1> Form </h1>


<!-- create method takes post and an action which says what url to send it to-->
<!-- CSRF stands for cross site request forgery. So this says your site needs security
Other sites just cant send post data to you. my website needs to validate to see its good data -->

<form method="post" action="">{% csrf_token %}

{{ form.as_p }}

<input type="submit" value="Create Post">
</form>

<!--<button type="submit">Submit</button>  -->

{% endblock content %}